.jumbotron.text-center
  .container
    %h2 People
    .btn-group{"role" => "group", "aria-label" => "Default Button Groups"}
      =link_to "Everyone", users_path, class: "btn btn-default #{'active' unless params[:people]}"
      =link_to "Friends (#{@friend_count})", users_path(people: "friends"), class: "btn btn-default #{'active' if params[:people] == 'friends'}"
      =link_to "Requests (#{request_count})", users_path(people: "requests"), class: "btn btn-default #{'active' if params[:people] == 'requests'}"
      =link_to "Pending (#{@pending_count})", users_path(people: "pending"), class: "btn btn-default #{'active' if params[:people] == 'pending'}"

.container
  .row
  = render @users 