.jumbotron
  .container
    .row
      .col-md-4
        = gravatar_tag @user.email, size: 200
      .col-md-4
        %h3= @user.username
        %p="Age:#{@user.age}"
        %p="Gender:#{@user.gender}"
      .col-md-4
        %h3 Who am I
        %small
          = @user.bio
.container
  .row
    .col-md-3
      / Friend zone
      .panel.panel-default
        .panel-heading="Friends #{@user.active_friends.size}"
        .panel-body
          - @user.active_friends.last(20).each do |u|
            =link_to user_path(u.username) do
              =gravatar_tag u.email, size:40
    .col-md-6
      /Post zone
      =if current_user && current_user == @user
        =render "posts/form"
      =render @posts
    .col-md-3
      /Profile Activity
      .panel.panel-default
        .panel-heading Recent Activity
        .panel-body= render_activities(@activities)
